
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--ende-blue);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar_logo {
  width: 100px;
  object-fit: contain;
  margin: 9px 20px;
}

.navbar_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 20px;
}

.navbar_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.navbar_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: var(--ende-yellow); 
}

.navbar_nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.navbar_option:hover {
  cursor: pointer;
}

.navbar_option_1 {
  font-size: 10px;
}

.navbar_option_2 {
  font-size: 13px;
  font-weight: 800;
}

.navbar_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.navbar_basketCount {
  margin-left: 10px;
  margin-right: 10px;  
}

.navbar_nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}